.survey-warp {
  width: 100%;
  min-height: 80vh;
  padding: 1em;
}

.survey-content-wrap {
  padding: 1.5em;
  text-align: justify;
}

@media only screen and (max-width: 1000px) {
  .survey-warp {
    padding: 0em;
  }
}
