.modal-content {
  display: flex;
  flex-direction: row;
}

.modal-sider {
  flex: 0.45;
}

.modal-sider img {
  display: block;
  max-width: 230px;
  max-height: 450px;
  width: auto;
  height: auto;
}

.modal-sider .garland {
  margin-bottom: -120px;
  margin-top: -80px;
}

.modal-sider .quality {
  margin-bottom: -90px;
  margin-top: -50px;
}

.modal-sider .medal {
  margin-bottom: -150px;
}

.modal-main {
  flex: 0.55;
  padding-left: 2em;
}

.modal-top-row {
  height: 50px;
  text-align: right;
}

.modal-core {
  height: 100%;
  display: flex;
  align-items: center;
}

.ant-modal-confirm-btns button:disabled {
  visibility: hidden;
}

@media only screen and (max-width: 700px) {
  .ant-modal-body {
    padding: 15px 20px !important;
  }

  .modal-sider {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .modal-sider img {
    max-width: 100%;
    max-height: 450px;
  }

  .modal-sider .garland {
    margin-bottom: -85px;
    margin-top: -40px;
  }

  .modal-sider .quality {
    margin-bottom: -30px;
    margin-top: -100px;
  }

  .modal-sider .medal {
    margin-top: 0;
  }
}
